*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Titulo;
  src: url(../assets/Fonts/static/Rubik-Bold.ttf);
}

@font-face {
  font-family: Parag;
  src: url(../assets/Fonts/static/Rubik-Regular.ttf);
}

a{
  text-decoration: none;
}

header{
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: #df590c;
}

.menu{
  height: 100%;
}

.menu ul{
  padding: 50px;
  width: 100%;
  height: 100%;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul li img{
  width: 300px;
  border-radius: 15px;
}

.menu ul li a{
  padding: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-family: Titulo;
  font-size: 20px;
}

.subMenu{
  width: 100%;
  height: 45px;
  position: absolute;
  background-color: #f7aa25;
}

.subMenu ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.subMenu ul li a{
  color: #fff;
  font-family: Titulo;
  font-size: 18px;
  align-items: center;
  display: flex;
}

.subMenu ul li input{
  width: 300px;
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  font-family: Parag;
  font-size: 15px;
  border: 1px solid #000;
}

/* * DROPDOWN */

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f59e09;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.593);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px dotted #ffff;
  font-size: 16px !important;
}

.dropbtn{
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-content a:hover {
  background-color: #f6b92c;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* ! SEÇÃO INICIAL */

.init{
  position: relative;
  width: 100%;
  height: calc(100vh - 145px);
  z-index: -1;
}

.init::before{
  content: "";
  position: absolute;
  background-image: url("../assets/imgs/melBackground.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: 145px;
  filter: 
    blur(2px)
    brightness(0.6); 
}

.init figcaption{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 40px;
  color: #fff;
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
  font-family: Titulo;
  margin-top: 145px;
}

/* ! SESSÃO CONTEUDO */

.content{
  background-color: #f0eadf;
  width: 100%;
  height: 100%;
  margin-top: 145px;
  padding-bottom: 100px;
}

.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.content .container .sobre{
  margin-top: 100px;
}

.sobre h1{
  text-align: center;
  padding-top: 25px;
  font-family: Titulo;
  font-size: 50px;
  color: #000;
}

.sobre .sobre-content{
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 40px;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

.sobre .sobre-content img{
  width: 100%;
  border-radius: 5px;
  margin: 0 auto;
}

.sobre .sobre-content p{
  font-family: Parag;
  font-size: 20px;
  text-align: justify;
}

/* ! PAGINA ORIGEM */ 


.headerPags{
  position: relative;
}

.contentPags{
  margin-top: 0;
}

.content .container .sobrePags{
  margin-top: 45px;
}

.container .sobre .sCont-Hist img{
  width: 350px;
}

.flexCol{
  display: flex !important;
  flex-direction: column;
  gap: 50px;
}

.flexCol img{
  width: 650px !important;
}

/* !========================================== */
/* !FOOTER */
/* !========================================== */


footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Titulo;
  background-color: #000;
  height: 100px;
  color: #fff;
}

footer ul{
  display: inline-flex;
  gap: 30px;
  position: relative;
  list-style: none;
}